#page {
    width: 1000px;
    margin: 1rem auto;
}
body {
  background-color: tan;
  style: White
} 
header {
  background-color: blue; 
  padding: 1rem;           
} 

main {
  background-color: red;
  padding: 1rem;
} 

footer {
    background-color: transparent; 
    color: blue;                   
    text-align: center;           
    padding: 20px;                 
}
